{% extends 'ag_base/backend.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ app.asset_path }}/js/jquery.animateNumber.min.js"></script>
    <script>

        $('#nbuser').animateNumber({ number: {{nb_hot}} }, 2000);
        $('#nbcontact').animateNumber({ number: {{nb_warm}} }, 2000);
        $('#nbaressy').animateNumber({ number: {{nb_cold}} }, 2000);
        $('#nbautre').animateNumber({ number: {{nb_autre}} }, 2000);
        $('#nbeloqua').animateNumber({ number: {{nb_contact_eloqua}} }, 2000);
        $('#totalContactAutre').animateNumber({ number: {{total_contact_autre}} }, 2000);

     </script>
    
    <!-- page script -->
    <script type="text/javascript">
        
        $(function() {
            
            
            
            $("#contact_list").dataTable({
				serverSide: true,
				ajax: '{{ url("contact_list") }}/list/{{ id_filtre }}',
				columns: [
					{% for table_column in table_columns %}
					{ "data": "{{ table_column }}"},
                                        {% endfor %}
                                        
					{
						"orderable": false,
						"data": null,
						"defaultContent": null,
                                                
					}
				],
				rowCallback: function( row, data ) {
					var actions = '<a href="{{ url("contact_list") }}/voir/' + data.{{primary_key}} + '" > <i class="ion ion-ios-eye" style="font-size: 35px; color: #333333;"></i></a>';
                                        
                                        /*
                                         * \n\
                                         <a href="{{ url("contact_list") }}/edit/'+ data.{{primary_key}} + '" class="btn btn-primary btn-xs">Edit</a> \n\
                                         <a href="{{ url("contact_list") }}/delete/' + data.{{primary_key}} + '" onclick="return confirm_delete();" class="btn btn-danger btn-xs">Delete</a> \n\
                                         *<a href="contact/mail/' + data.{{primary_key}} + '" class="btn btn-warning btn-xs">Mail</a> \n\
                                         <a href="contact/phone/' + data.{{primary_key}} + '" class="btn btn-success btn-xs">Call</a>*/
					$('td:eq({{ table_columns|length }})', row).html( actions );

                                        console.log(data.etat);

                                        $(row).removeClass();
                                        /* METTRE LE CODE */
                                        if(data.etat == "HOT"){
                                          $(row).addClass( "success" );
                                        }else{
                                           if(data.etat == "WARM"){
                                               $(row).addClass( "warning" );
                                           }else{
                                                if(data.etat == "COLD"){
                                                    $(row).addClass( "info" );
                                                }
                                           }
                                        }
				}
			});
        });

        function confirm_delete(){
            if(!confirm("Are you sure? This action cannot be undone.")) { 
                return false;
            }
        }

    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'contact_list'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Contact list
                </h1>
            </section>

            
               <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-offset-1 col-lg-2 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                    <h3><span id="nbuser">12</span></h3>
                  <p>HOT</p>
                </div>
                <div class="icon">
                  <i class="ion ion-happy"></i>
                </div>
                <a href="hot" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                    <h3><span id="nbcontact">11</span></h3>
                  <p>WARM</p>
                </div>
                <div class="icon">
                  <i class="ion ion-sad-outline"></i>
                </div>
                <a href="warm" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-2 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                    <h3><span id="nbaressy">10</span></h3>
                  <p>COLD</p>
                </div>
                <div class="icon">
                  <i class="ion ion-sad"></i>
                </div>
                <a href="cold" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-offset-0 col-lg-2  col-xs-6">
              <!-- small box -->
              <div class="small-box bg-gray">
                <div class="inner">
                    <h3><span id="nbautre">10</span></h3>
                  <p>AUTRES</p>
                </div>
                <div class="icon">
                  <i class="ion ion-sad"></i>
                </div>
                <a href="autre" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
          </div>

          <div class="row">
            <div class="col-lg-offset-1 col-lg-2 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red-gradient" >
                <div class="inner">
                    <h3><span id="nbeloqua">10</span></h3>
                  <p>CONTACT ELOQUA</p>
                </div>
                <div class="icon">
                  <i class="fa fa-database fa-4"></i>
                </div>
                <a href="eloqua" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-offset-0 col-lg-2 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-teal-gradient" >
                <div class="inner">
                    <h3><span id="totalContactAutre">10</span></h3>
                  <p>CONTACT AUTRES</p>
                </div>
                <div class="icon">
                  <i class="fa fa-database fa-4"></i>
                </div>
                <a href="contactautres" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div><!-- ./col -->       
                 
          </div>
              
 
            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">
                                
                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <a class="btn btn-primary" href="{{ path('contact_create') }}">Create new contact</a><br /><br />
                                <table id="contact_list" class="table table-bordered "><!--table-striped-->
                                    <thead>
                                        <tr>
                                            {% for table_column in table_columns %}
                                            <th>{{ table_column }}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            {% for table_column in table_columns %}
                                            <th>{{ table_column }}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
